@charset "UTF-8";

body {
	background-color : #2f2f2f;
}

div#elevator {
	width: 100px;
    height: 70px;
	background-image: url(/images/elevator.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

div#buttons {
	width: 400px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    position: fixed;
    /* top: 22px; */
    background-color: #00000082;
    border-radius: 8px;
}

div#buttons input[type="button"] {
	width: 60px;
    height: 25px;
    margin: 5px 2px;
    border: 0px solid;
    border-radius: 7px;
    background-color: cornflowerblue;
    color: white;
    font-size: 11px;
}

div#wrap {
	width : 300px;
	height : auto;	
	margin : 15px auto;
}

table.elevator {
	width : 300px;
	margin : 0 auto;
}

table.elevator th {
	width : 100px;
	height : 40px;
	border : 1px solid grey;
	text-align: center;
}

table.elevator td:first-child {
	width: 100px;
}

table.elevator td {
	height: 60px;
	padding: 5px 0px;
    border: 1px solid #7d7d7d;
    text-align: center;
    color: #d8d8d8;
}

tr.on {
	background-color : red;
}